# evidence stuff
.evidence/meta
.evidence/template
.svelte-kit
static/data
sources/catbi/connection.yaml

# db
*.duckdb
*.sqlite
*.db

# build dirs
build
node_modules

# secrets
.env

# dlt
.dlt/secrets.toml

# logs
*.log
*.pyc
